<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% if logged_in? %>
      <%= link_to "BRANDEIS UNIVERSITY", current_user, id: "logo" %>
    <% else %>
      <%= link_to "BRANDEIS UNIVERSITY", "/", id: "logo" %>
    <% end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Home", current_user %></li>
        <% else %>
          <li><%= link_to "Home", "/" %></li>
        <% end %>
        <li><%= link_to "Subject", subjects_path %></li>
        <li class="dropdown">
          <a href= "/courses" class="dropdown-toggle" data-toggle="dropdown">
            Courses <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Search", search_path %></li>
            <li><%= link_to "Show All", courses_path %></li>
          </ul>
        </li>
        <li><%= link_to "Instructors", instructors_path %></li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "Sign Up", signup_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
